.pane__item{
    padding: 20px 40px;
}

@media (max-width:768px) {
    .pane__container{
        transform: translateX(-100%);
    }

    .menu .pane__container{
        display: flex;
        width: 75%;
        transform: translateX(0%);
        transition: all ease 600ms;
    }

    
}