.modal {
    border-radius: 4px;
    background-color: white;
    padding: 16px;
    text-align: center;
    width: 360px;
    z-index: 1000;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth__separator::after, .auth__separator::before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
  }

  .auth__separator {
    display: flex;
    align-items: center;
    margin: 16px 0;
  }

  .auth__separator--text {
    margin: 0 24px;
    font-size: 14px;
    color: #394547;
    font-weight: 500;
  }
  
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }